<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="styles.css" media="screen" />

  <title>Hogwarts Students!!!</title>
</head>
<body>
<ul>
  <li>
    <a href="/students">Student List</a>
  </li>
  <li>
    <a href="/students/new">Create New Student</a>
  </li>
</ul>

<%= yield %>

</body>
</html>